<% if current_user.like?(post) %>
  <%= link_to  unlike_post_path(post), remote: true, method: :delete do %>
    <i class="glyphicon glyphicon-heart-empty"></i> Unlike
  <% end %>
 
  <% post.reload %>    
  <p><%= "#{post.likes.count} likes " %></p>
<% else %>
  <%= link_to  like_post_path(post), remote: true do %>
    <i class="glyphicon glyphicon-heart"></i> Like
  <% end %>

  <% post.reload %>    
  <p><%= "#{post.likes.count} likes" %></p>
  
<% end %>