

<div class="container">
<div class="row">
<% @posts.each do |post| %>

  <div class="col-md-4">
    <div class="thumbex">
    <div class="thumbnail"><a href="#">
      <img src="https://3.bp.blogspot.com/-XVkR_Ha9S3E/VVwRk-hG1RI/AAAAAAAAAFA/EgFIqLpHknQ/s1600/Free%2BDownload%2BHd%2BWallpaper%2BRainforest%2Bfor%2Biphone2.jpg"/><span>
      <%= post.title%></span></a></div>
    </div>
  </div>
  


<% end %>
</div>
</div>